@import 'normalize';
@mixin picdef {
position: relative;
height: 300px;
width: 300px;
float: left;
display: inline-block;
}
@mixin picdef2{
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);
opacity: .6;
transition: all 0.3s;
-webkit-transition: all 0.3s;
}

.pageHead {
background: url('https://rawgit.com/thachmle/SP2-sassOnly/master/images/header.jpg') no-repeat;
background: url(../images/header.jpg) no-repeat;
width: 1200px;
height:400px;
background-size: 100%;
margin: 0px auto;
font-family: 'PT Sans', sans-serif;
}

.container{
width: 1000px;
margin: 0px auto;
text-align: center;
		img.logo-left {
		float: left;
		padding-top: 15px;	
		}
			a.blog {
			float: left;
			padding-left: 15px;
			padding-top: 25px;
			color: rgb(11,	53,	80	);
			}
				a.blog:link{
				text-decoration: none;
				}
}

.topBar {
	float: right;
	padding-top: 14px;
		a:link {
		text-decoration: none;
		color:rgb(11,	53,	80	);
		}
			a.about {
			padding-right: 10px;
			font-size: 20px;
			font-weight: 900;
			}
				a.search {
				font-weight: 900;
				padding-right: 5px;
				font-size: 20px;
				}
}

.middle-logo {
h1 {
font-size: 95px;
margin: 0;
padding-top: 180px;
line-height: 40px;
font-family: 'PT Sans', sans-serif;
color: white;
	}
	p {
	color:rgb(11,	53,	80	);
 	opacity: .9;
	}
}

.container2 {
width: 1000px;
margin: 0 auto;
}

.containerRight {
width: 320px;
margin: 0;
padding: 0;
float: right;
text-align: center;
}

.containerRight img.avartar {
padding-top: 80px;
}

.containerRight img.ad {
padding-top: 70px;
}

.containerRight h1 {
color: rgb(25,	111,	177	);
margin: 0 auto;
font-size: 20px;
font-family: 'PT Sans', sans-serif;
font-weight: lighter;
}

.containerRight a.fb {
font-size: 12px;
}

.containerRight a.fb:visited{
text-decoration: none;
color: rgb(163,	179, 190	);
}

.containerRight a.fb:link{
text-decoration: none;
color: rgb(163,	179, 190	);
}

.containerRight a.fb {
padding-right: 15px;
}

img.ad {
float: right;
width: 100%;
height: 285px;
}

a.newl {
float: right;
font-size: 12px;
}

a.newl:hover {
width: 100px;
height: 13px;
-webkit-transform: rotate(360deg); 
transform: rotate(360deg);
-webkit-transition: width 5s, height 10s, -webkit-transform 6s; 
transition: width 2s, height 3s, transform 7s;
}

a.newl:link {
color: rgb(163,	179,	190	);
}

.containerRight a.newl:visited{
color: rgb(163,	179, 190	);
}

.containerRight h2 {
float: left;
font-size: 18px;
padding-top: 20px;
color: rgb(25,	111,	177	);
margin: 0;
padding-bottom: 5px;
}

.containerRight p {
text-align: left;
display: inline-block;
color: rgb(163,	179,	190	);
line-height: 22px;
margin: 0;
font-size: 12px;
}


a.newl2:link {
color: rgb(163,	179,	190	);
font-size: 14px;
}

a.newl2:visited{
color: rgb(163,	179,	190	);
font-size: 14px;
}

.containerLeft {
width: 578px;
float: left;
margin: 0;
padding: 0 0 40px 0;
}

.containerLeft h1{
float: left;
font-size: 60px;
padding-top: 20px;
color: rgb(11,	53,	81	);
font-family: 'Oswald', sans-serif;	
line-height: 60px;
}

.avatar img {
margin: 15px 0 0 0;
padding: 0;
float: left;
width: 30px;
height: 30px;
}

.containerLeft h2 {
float: left;
height: 25px;
width: 75px;
padding-right: 5px;
padding-left: 10px;
color: rgb(25,	111,	177	);
margin-top: 25px;
font-size: 12px;
}

.containerLeft h3 {
color: rgb(180,	193,	203	);
font-family: 'PT Sans', sans-serif;
}

.monday {
width: 262px;
height: 20px;
float: left;
font-size: 10px;
margin-top: 14px;
}

.containerLeft a.read {
color:rgb(180,	193,	203	);
}

.containerLeft p {
color: rgb(94,	104,	111)	;
float: left;
}

blockquote {
float: left;
border-left: 3px solid rgb(211,	211,	211	);
font-size: 20px;
line-height: 60px;
color: rgb(25,	111,	177	);
padding-left: 15px;
}
a.p1link {
color: rgb(180,	193,	203	);	
}

a.p2link{
color: rgb(25,	111,	177	);
}

.leftContainerNav {
width: 450px;
height: 25px;
margin: 0;
padding: 0;
font-size: 15px;
}

.leftContainerNav a{
text-decoration: none;
}

.leftContainerNav a:hover {
opacity: .6;
transition: all 0.3s;
-webkit-transition: all 0.3s;
background-color: rgb(25,	93,	146	);
}

a.readcomment {
color: white;
float: left;
display: inline-block;
background: rgb(190, 187, 187);
margin: 0px 10px 9px 0px;
padding: 7px 3px 1px 0;
width: 150px;
height: 25px;
text-align: center;
}

img.comment {
background-color: #37353F;
margin: -7px 1px 1px 0px;
float: left;
padding: 9px 9px 9px 9px;
}

a.readLater {
color: white;
float: left;
display: inline-block;
background: rgb(190, 187, 187);
margin: 0px 10px 9px 0px;
padding: 7px 6px 1px 0;
width: 115px;
height: 25px;
text-align: center;
}

img.iconUpload {
background-color: #37353F;
margin: -7px 1px 1px 0px;
float: left;
padding: 9px 9px 12px 9px;
}


a.shareThisPost {
color: white;
float: left;
display: inline-block;
background: rgb(190, 187, 187);
margin: 0px 0px 9px 0px;
padding: 7px 3px 1px 0;
width: 150px;
height: 25px;
text-align: center;
}

img.iconShare {
background-color: #37353F;
margin: -7px 1px 1px 0px;
float: left;
padding: 9px 9px 11px 9px;
}

.containerThree {
width: 1200px;
height: 145px;
margin: 0px auto;
clear: both;
text-align: center;
border-top: 1px solid rgb(225,	231,	234	);
}

.containerThree h1.popular {
width: 1000px;
height: 100px;
padding-top: 15px;
font-size: 45px;
padding-left: 60px;
color: rgb(11,	53,	81	);
font-family: 'PT Sans', sans-serif;
}

.containerFour {
font-family: 'PT Sans', sans-serif;
width: 1200px;
margin: 0 auto;
padding: 0;
}

.img1 {
@include picdef;
}

.img2{
@include picdef;
}

.img3 {
@include picdef;
}

.img4 {
@include picdef;
}

img.a1:hover {
  @include picdef2;
}

img.a2:hover {
   @include picdef2;
}

img.a3:hover {
   @include picdef2;
}

img.a4:hover {
   @include picdef2;
}

img.a1 {
width: 300px;
float: left;
}

img.a2 {
width: 300px;
float: left;
}


img.a3 {
width: 300px;
float:left;
}

img.a4 {
width: 300px;
float: left;
}

footer {
width: 1200px;
height: 380px;
margin: 0 auto;
background-color: rgb(11,	53,	81	);
}

span.p1 {
position: absolute;
font-size: 24px;
color: white;
padding-left: 15px;
bottom: 0;
}

span.p2 {
position: absolute;
font-size: 25px;
color: white;
padding-left: 15px;
bottom: 0;

}

span.p3 {
position: absolute;
color: white;
width: 300px;
font-size: 25px;
padding-left: 15px;
bottom: 0;
}

span.p4 {
position: absolute;
color: white;
font-size: 25px;
bottom: 0;
}

.footerContent {
width: 960px;
margin: 0 auto;
}

.footerLeft {
font-family: 'PT Sans', sans-serif;
}

.footerLeft img {
padding-top: 20px;
float: left;
}

.footerLeft h4 {
color: rgb(163,	179,	190	);
padding-left: 15px;
font-size: 13px;
padding-top: 15px;
float: left;
}

.footerRight {
font-family: 'PT Sans', sans-serif;
float: right;
padding-top: 30px;
font-size: 13px;
	a {
		color: rgb(121,	142,	158	);
		text-decoration: none;}
	a::after {
		content: "|" ;
		margin: 0px 7px 0px 10px;}
	a:hover {
	  -webkit-transform: scale(1.5);
	  -moz-transform: scale(1.5);
	  -o-transform: scale(1.5);
	  transform: scale(1.5);
	  transition: all 0.3s;
	  -webkit-transition: all 0.3s;}	
}
